.button {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 45px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-coral);
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-red2);
}

.button:active {
    background-color: var(--color-coral);
    box-shadow: 4px 4px 30px var(--color-coral);
}

@media (max-width: 320px) {
    .button {
        width: 280px;
    }
}