.about {
    width: 100%;
    background: url(../assets/bg_about.jpg) center/cover no-repeat;
    padding-bottom: 120px;
}

.header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.header__logo {
    display: flex;
    width: 190px;
    height: 100px;
}

.header__nav {
    height: 100%;
    width: min(100%, 700px);
}

.header__nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}

.header__nav-item {
    position: relative;
    line-height: 100px;
}

.header__nav-link::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    right: 80%;
    height: 2px;
    background-color: var(--color-grey);
    opacity: 0;
    transition: all .6s;
}

.header__nav-link:hover::after {
    opacity: 1;
    right: -20px;

}

.header__nav-link {
    color: var(--color-white);
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.header__nav-link:active {
    color: var(--color-coral);
}

.header__nav-link:active::after {
    background-color: var(--color-coral);
}

.about__content {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__content__title {
    margin-top: 130px;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.about__content__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-white);
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 3.3em;
}


@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .burger__label {
        display: block;
    }
}


.features__content {
    width: 100%;
    background-color: var(--color-white);
}

.main {
    width: 100%;
    padding: 110px 0px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 85px;
}

.container__card {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__card__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-black);
    padding: 30px 0;
    text-transform: uppercase;
}

.container__card__discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 90px;
    color: var(--color-grey_text);
}

.person-card__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-transform: capitalize;
    padding: 30px 0 12px 0;
}

.person-card__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-coral);
}

.person-card__discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: var(--color-grey_text);
    padding: 18px 0 40px 0;
}

.person-card__links {
    width: 270px;
    display: flex;
    column-gap: 6px;
}

.person-card__links-icon>svg {
    width: 39px;
    height: 39px;
    fill: none;
}

/* burger menu */
.input-burger {
    display: none;
}

.burger__label {
    cursor: pointer;
    display: none;
}

.burger__label>svg {
    width: 24px;
    height: 18px;
}

.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(44, 44, 46, 0.418);
    backdrop-filter: blur(5px);
    z-index: 100;
    transform: translateX(-100vw);
    transition: all 0.5s;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}

.burger__close {
    font-size: 24px;
    color: var(--color-white);
    font-weight: 700;
    cursor: pointer;
    display: block;
    align-self: flex-end;
}

.burger__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    list-style: none;

}

.burger__nav-link {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
}

.input-burger:checked~.burger__menu {
    transform: translateX(0);
}

@media (max-width: 1024px) {
    .content__title {
        font-size: 48px;
        line-height: 56px;
    }

    .content__description {
        font-size: 18px;
        line-height: 21px;
        margin-top: 3em;
    }

    .header__nav-list-item {
        font-size: 12px;
    }

    .button {
        width: 310px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 0 10px;
    }

    .content__description {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header__nav {
        display: none;
    }

    .burger__label {
        display: block;
    }

    .button {
        width: 280px;
        height: 60px;
    }
}

@media (max-width: 568px) {
    .header {
        padding-right: 10px;
    }

    .about {
        padding-bottom: 50px;
    }

    .about__content {
        margin: 0 5px;
    }

    .about__title {
        font-size: 36px;
        line-height: 42px;
        padding-right: 10px;
    }

    .about__description {
        font-size: 14px;
        line-height: 18px;
    }

    .button {
        width: 280px;
        height: 60px;
    }
}